._2SF15W08LXpUHhqrSNz4YN {
 display:flex;
 flex-direction:row;
}
._3NYHHzDqmBNLGrVIYwg8ar {
 width:64px;
 text-align:center;
 margin-bottom:4px;
}
._2WiT9pX8A8he7myBSNAOG0 {
 width:64px;
 height:64px;
}
.PDkMQ5mawCF4icDFlI_G_ {
 margin-left:12px;
 margin-top:20px;
}
.yVyPKdb4lsiRak5TAnxs3 {
 line-height:28px;
}
.pCrZgq5M5LPH9YKA0uHa1 {
 margin-top:4px;
 border-left:1px solid black;
}
.B8JVqDspQwEhSSEQL5R3k {
 text-decoration:none;
}
._1kSA4QaKGe1F91GEMk7zbG {
 background-image:linear-gradient(180deg,#380424,#380424 50%,#5C0034 0,#5C0034);
 height:30px;
 transform:skew(-7.5deg);
 width:45%;
 box-shadow:0 2px 0 0 #000,0 1px 0 0 #000;
 border:2px solid #000;
 position:relative;
}
._2gcTtONLJ8B_iB1IzpYg51 {
 width:36px;
 height:36px;
 transform:skew(7.5deg);
 position:absolute;
 left:-17px;
 top:-3px;
 right:0;
 z-index:1;
 display:flex;
 justify-content:center;
 align-items:center;
}
._3Lrxt-4D_gueuPeW2seyam {
 height:30px;
 position:absolute;
 left:0;
 top:0;
 bottom:0;
}
._1IVG5wQ6FsDh26OcvvGzDd {
 transform:skew(7.5deg);
 position:absolute;
 left:0;
 right:0;
 top:0;
 bottom:0;
 text-align:center;
 line-height:30px;
 padding-left:10px;
 box-sizing:border-box;
}
._1q57V5vKLuzJ4g6BkfpZbk {
 width:36px;
 height:36px;
 position:absolute;
 left:-17px;
 top:-2px;
 right:0;
 z-index:1;
 transform:skew(7.5deg);
 background-size:contain;
 background-position:50%;
 background-repeat:no-repeat;
}
._2dylSGLmuqebsw91X32Zme {
 background:#1A3866;
 height:180px;
 position:relative;
 box-sizing:border-box;
}
.isDesktop ._2dylSGLmuqebsw91X32Zme {
 height:300px;
}
._2RYDNNy0ysAHw_kIBmSK_f {
 position:absolute;
 bottom:32px;
 left:15px;
}
.isDesktop ._2RYDNNy0ysAHw_kIBmSK_f {
 bottom:auto;
 left:28px;
 top:100px;
}
.Fd5AmyFX4NktHlJbn1O8N {
 position:absolute;
 right:0;
 top:0;
 bottom:0;
}
.isDesktop .Fd5AmyFX4NktHlJbn1O8N {
 top:auto;
}
._1GD0N7zUCHGC-DPfl9jSxR {
 background-size:contain;
 background-position:100%;
 background-repeat:no-repeat;
 height:180px;
 width:188px;
 position:relative;
 right:15px;
 top:5px;
}
.isDesktop ._1GD0N7zUCHGC-DPfl9jSxR {
 width:335px;
 height:280px;
 background-position:10px right;
 bottom:5px;
 top:-5px;
}
.ywxAIJqNYoUE6elLNp0Vs {
 position:absolute;
 background:rgba(0,0,0,0.5);
 top:0;
 left:0;
 right:0;
 bottom:0;
}
._16g7lbhmvL3DUge1rW9I5X {
 position:absolute;
 left:0;
 top:0;
 bottom:0;
 width:100%;
 overflow:hidden;
}
._175-kPwYiboW8PDByKG7Zy {
 width:150px;
 background:#00A3FF;
 position:absolute;
 top:0;
 bottom:0;
 transform:skew(-7.5deg);
}
.isDesktop ._175-kPwYiboW8PDByKG7Zy {
 width:470px;
}
._1ylcYZPnJQjCjJEwu5-ySC {
 left:-20px;
}
._2olMsxMRzM_n-jvqtHNwiM {
 left:-30px;
 background:rgba(0,0,0,0.15);
}
.Z53ijbZUfbJgULXFTiJTK {
 left:-130px;
 background:rgba(0,0,0,0.15);
}
.x_E0ZSPtMHuhQfzGfk6E_ {
 position:absolute;
 bottom:-20px;
 left:28px;
 right:15px;
 display:flex;
 flex-direction:row;
 justify-content:space-between;
}
.isDesktop .x_E0ZSPtMHuhQfzGfk6E_ {
 width:340px;
 bottom:35px;
 left:45px;
 right:auto;
}
.isDesktop ._31cB_2xOdtLIJG42MoK22T {
 display:flex;
 flex-direction:row;
 flex-wrap:wrap;
 justify-content:space-between;
}
._3VmG_IWjij1rn0cKw_KDic {
 margin-bottom:4px;
}
.isDesktop ._3VmG_IWjij1rn0cKw_KDic {
 width:49%;
 margin-bottom:8px;
}
._3VmG_IWjij1rn0cKw_KDic:last-child {
 margin-bottom:0;
}
.isDesktop ._3VmG_IWjij1rn0cKw_KDic:last-child {
 margin-bottom:6px;
}
.x5sNwD5jA8P2pks09tchU {
 width:36px;
 height:36px;
}
._1vDEooYzdK7MYIUkV189l9 {
 display:flex;
 flex-direction:row;
 align-items:center;
 background:#0E5FB0;
 padding:0 12px 0 8px;
 height:52px;
 text-decoration:none;
}
.isDesktop ._1vDEooYzdK7MYIUkV189l9 {
 height:60px;
 padding:0 20px 0 16px;
}
._3Ag9fZpyBrTpLIc_qjtvgo {
 width:36px;
 height:36px;
}
._2EN1Uv6aFDjyikHGq17k3x {
 align-self:flex-start;
 margin-top:6px;
 overflow:hidden;
}
.isDesktop ._2EN1Uv6aFDjyikHGq17k3x {
 flex-direction:row;
 align-self:center;
 align-items:center;
 margin:0 0 0 12px;
 flex:1;
}
._3oYx-cuBERX38-lpmFghUj {
 margin-top:0;
 align-self:center;
}
._2EN1Uv6aFDjyikHGq17k3x,
._3RdarGkR2FrRk6TNzQrrwt {
 display:flex;
 flex-direction:column;
 margin-left:8px;
}
._1O-vM3JfUX0P5_dwNNu6lm {
 white-space:nowrap;
 text-overflow:ellipsis;
 overflow:hidden;
 line-height:20px;
}
.isDesktop ._1O-vM3JfUX0P5_dwNNu6lm {
 width:50%;
}
._2HPojbMdHZVVE8vVcx5dG4 {
 line-height:16px;
}
.isDesktop ._2HPojbMdHZVVE8vVcx5dG4 {
 margin-left:8px;
}
.isDesktop ._1O-vM3JfUX0P5_dwNNu6lm,
.isDesktop ._2HPojbMdHZVVE8vVcx5dG4 {
 line-height:1.2;
}
._3RdarGkR2FrRk6TNzQrrwt {
 margin-left:auto;
}
.isDesktop ._3RdarGkR2FrRk6TNzQrrwt {
 flex-direction:row;
 width:320px;
}
._1Gy_iNzBzFNbAK6A0_SwRI {
 display:flex;
 flex-direction:row;
 align-items:center;
 margin-bottom:4px;
 justify-content:space-between;
}
.isDesktop ._1Gy_iNzBzFNbAK6A0_SwRI {
 margin-bottom:0;
 width:50%;
 justify-content:flex-start;
}
._1Gy_iNzBzFNbAK6A0_SwRI:last-child {
 margin-bottom:0;
}
.isDesktop .oV8vUjrZ4ZK-DYtYy9lP3._1Gy_iNzBzFNbAK6A0_SwRI:last-child {
 margin-left:auto;
 justify-content:flex-end;
}
._13mnSwHLacSEEuEkrAOQzq {
 width:16px;
 height:16px;
 margin-right:4px;
}
.isDesktop ._13mnSwHLacSEEuEkrAOQzq {
 width:28px;
 height:28px;
 margin-right:8px;
}
.oV8vUjrZ4ZK-DYtYy9lP3 {
 justify-content:flex-end;
}
.isDesktop ._3KMP_YjFRhTxUSr6nSnXtR {
 margin-left:30px;
}
._3G3tYRLuo23We0v6uJWsoG {
 margin-bottom:8px;
}
.isDesktop ._3G3tYRLuo23We0v6uJWsoG {
 margin-bottom:20px;
}
._2F_JwG9U9Kz7NnFPeDmpL7 {
 margin-bottom:4px;
 text-decoration:none;
 display:block;
}
.isDesktop ._2F_JwG9U9Kz7NnFPeDmpL7 {
 margin-bottom:8px;
}
._2F_JwG9U9Kz7NnFPeDmpL7:last-child {
 margin-bottom:0;
}
._1UMBWr-71BhTdKsTnOl6rB {
 margin-top:8px;
}
.isDesktop ._1UMBWr-71BhTdKsTnOl6rB {
 margin-top:20px;
}
._3xyBjgVYX1_O5GXDWqWH8H {
 height:168px;
 display:flex;
 flex-direction:column;
 justify-content:center;
 align-items:center;
}
._3xyBjgVYX1_O5GXDWqWH8H,
.DoF9A1hnytG10fPG7LAca {
 background-color:#0E5FB0;
}
.isDesktop ._3xyBjgVYX1_O5GXDWqWH8H {
 height:284px;
}
.DoF9A1hnytG10fPG7LAca {
 padding:20px 10px 0 0;
 box-sizing:border-box;
}
._3E3DBxl7_ko4feSWJEpUrA {
 width:64px;
 height:48px;
}
.isDesktop ._3E3DBxl7_ko4feSWJEpUrA {
 width:128px;
 height:96px;
}
._2fW0ruNV-it2kjnwFxQqKr {
 line-height:1.23;
 margin-top:12px;
 width:60%;
 text-align:center;
}
.isDesktop ._2fW0ruNV-it2kjnwFxQqKr {
 margin-top:16px;
 width:40%;
}
.DoF9A1hnytG10fPG7LAca .ct-series-a .ct-line {
 stroke:#5cd6ff;
}
.DoF9A1hnytG10fPG7LAca .ct-grid,
.DoF9A1hnytG10fPG7LAca .ct-grid.ct-vertical:first-child {
 stroke:rgba(0,0,0,.15)!important;
 stroke-width:1px;
 stroke-dasharray:none;
}
.DoF9A1hnytG10fPG7LAca .ct-label {
 text-shadow:0 1px 0 #000;
 font-family:Neris-Black,Helvetica Neue,Helvetica,Arial,sans-serif;
 font-size:11px;
 line-height:1.09;
 color:#FFF;
}
._3ts9KkMHUQQkgSlohOFFQ1,
.UA-H4Wzuhxk0TtG9jzo2m {
 display:flex;
 flex-direction:column;
}
.isDesktop .UA-H4Wzuhxk0TtG9jzo2m {
 flex-direction:row;
 align-items:baseline;
}
._38dFH33hXGuZD35iQobimI {
 margin-top:4px;
}
._38dFH33hXGuZD35iQobimI ._33mcpKRzowK21U-X7r7OiC {
 color:#19D800;
}
._38dFH33hXGuZD35iQobimI ._33mcpKRzowK21U-X7r7OiC.SSVwNyLKhVD_Mtkf7qEMW {
 color:#FF1E00;
}
._38dFH33hXGuZD35iQobimI ._33mcpKRzowK21U-X7r7OiC._3pXec3p-GkVB2zph5jr6BF {
 color:#FFF;
}
.isDesktop ._38dFH33hXGuZD35iQobimI {
 margin-left:12px;
}
._21ELPfwLWYndrDAxaZS1z0 {
 margin-top:8px;
}
._13DuW1ZxcgxBsiEQ3xfgMm {
 width:248px;
 height:160px;
 position:relative;
 border:2px solid #000;
 box-sizing:border-box;
 margin-top:5px;
}
.isDesktop ._13DuW1ZxcgxBsiEQ3xfgMm {
 width:auto;
 min-width:248px;
}
._3-kW4dn2N1GeZqLIYP39Cb {
 position:absolute;
 padding:2px 10px 3px 26px;
 background:#000;
 z-index:2;
}
._3-kW4dn2N1GeZqLIYP39Cb:before {
 content:"";
 width:10px;
 transform:skew(-7.5deg);
 height:26px;
 background:#000;
 display:block;
 position:absolute;
 right:-2px;
 top:0;
 z-index:-1;
}
.isDesktop ._3-kW4dn2N1GeZqLIYP39Cb {
 padding:0 10px 0 26px;
}
.isDesktop ._3-kW4dn2N1GeZqLIYP39Cb:before {
 height:27px;
}
._2PpbIDdt21EWrSBydkeVF4 {
 line-height:1.2;
 text-transform:uppercase;
 height:auto;
}
._3FhYOci1Q4dYmBIzj25VGf {
 position:absolute;
 display:flex;
 justify-content:center;
 align-items:center;
 left:-10px;
 top:-5px;
}
._2__aet5G124QK1Wcdy2Aa- {
 position:absolute;
}
._1mZt8VrEbGXDyGusJJbaES {
 width:36px;
 height:36px;
}
._3fFggrqCh2FjEKkqTx0u1C {
 height:48px;
 background:#000;
 position:absolute;
 bottom:0;
 left:0;
 right:0;
 display:flex;
 flex-direction:row;
 padding-left:8px;
 padding-right:8px;
}
._3JT8sOhwIbZHb6fsTTwi7E {
 margin-right:8px;
 padding-top:8px;
 padding-bottom:4px;
 flex:1;
}
._1rn865lAjZfN-4jC9VOvMG {
 display:flex;
 flex-direction:row;
 align-items:center;
}
._3lIy17lrmmxtESKJWD9ci4 {
 position:absolute;
 top:0;
 left:0;
 height:112px;
}
._2xQfoVHXZ0Taywgl6VDaQk {
 width:24px;
 height:24px;
 background-size:cover;
 margin-right:2px;
}
._2jTl0GSnjD-2UDaZDIMqwr {
 margin-left:3px;
}
._27npi2v2bWfGthkMhI8Py5 {
 position:relative;
 overflow:hidden;
 margin-top:10px;
 width:calc(100% + 30px);
 margin-left:-15px;
 box-sizing:border-box;
}
._1udIJz05FxKVasorl8nG_2 {
 overflow-x:auto;
 -webkit-overflow-scrolling:touch;
 padding-bottom:20px;
 margin-bottom:-20px;
 display:flex;
 flex-flow:row;
}
._1udIJz05FxKVasorl8nG_2::-webkit-scrollbar {
 display:none;
}
._27S49vkmDiNCJywFvwR4qe {
 margin:0 10px;
}
._27S49vkmDiNCJywFvwR4qe:first-child {
 padding-left:15px;
 margin-left:0;
}
._27S49vkmDiNCJywFvwR4qe:last-child {
 padding-right:15px;
 margin-right:0;
}
.lxAK9HYIYV71I7gbcN9H5 {
 display:flex;
 flex-flow:row;
 align-items:flex-end;
}
._3CVkCoCoYCFIdd0dQYaBoL {
 position:relative;
 top:-2px;
 margin-left:4px;
}
.isDesktop ._3CVkCoCoYCFIdd0dQYaBoL {
 top:-3px;
 margin-left:8px;
}
.isDesktop ._27S49vkmDiNCJywFvwR4qe {
 margin:0;
 padding:0;
}
.isDesktop ._-8Sk_GrXg7so-YC4Vu-ff {
 width:100%;
 margin-left:0;
 display:grid;
 grid-template-columns:repeat(auto-fill,270px);
 grid-gap:20px;
 justify-content:space-between;
 margin-top:15px;
}
._2K4PKXtjtQVmOJ-IvMqd8s {
 display:flex;
 flex-direction:column;
 justify-content:center;
 align-items:center;
 padding:16px 20px 20px;
 background-color:#0E5FB0;
}
.isDesktop ._2K4PKXtjtQVmOJ-IvMqd8s {
 padding:40px 28px 44px;
}
._2ZfxB46j2iVMVLagpyzxBj {
 margin-top:10px;
 height:40px;
}
.isDesktop ._2ZfxB46j2iVMVLagpyzxBj {
 margin-top:25px;
}
.Hju5gstD3fQ24Dtgljg69 ._2niqtpw1-dq5H-JldDWKWw {
 text-align:center;
 line-height:20px;
}
._3K4yvFe5NygZCO3fts3K7R {
 width:27px;
 height:27px;
 border-radius:2px;
}
._3JZISxMCErxeBeOU8f6YEL,
._3K4yvFe5NygZCO3fts3K7R {
 display:flex;
 justify-content:center;
 align-items:center;
}
._3JZISxMCErxeBeOU8f6YEL {
 width:48px;
 height:48px;
 box-shadow:0 2px 0 0 #000;
 border:2px solid #081933;
 background-color:#0E5FB0;
}
._1Cg6P_ZQneZqKqD4feYwCD {
 width:25px;
 height:25px;
 object-fit:contain;
}
._1H7a9uKuvq9NXYU-tkp5L_ {
 width:36px;
 height:36px;
 object-fit:contain;
}
._1MTw4YlWZrmGNyWwWbEg1P {
 display:flex;
 flex-flow:row;
 align-items:center;
}
._17HRuSLrB5kWix61S7C5vG {
 margin-left:6px;
 margin-right:6px;
}
._24MlNKk-sbKRGTs8NuizZ6 {
 margin-top:25px;
}
.ZSxZOE4D8xIg7FIG8Xill {
 text-transform:uppercase;
 margin-bottom:1px;
}
._26tYY66GI727g_SXbKBvdL {
 display:flex;
 flex-flow:row;
 justify-content:space-between;
 align-items:flex-end;
}
._1Wo4fI-FOk84PrnblD6-zu {
 margin-top:8px;
 width:calc(100% + 2px);
 display:flex;
 flex-direction:row;
 flex-wrap:wrap;
}
._3DB1wYyU6xJ5NQ8ggxM5Z {
 margin-right:2px;
 margin-bottom:2px;
}
._18YpZkGcea0We1srPN-Tl4 {
 flex-grow:1;
 justify-content:flex-end;
 margin-right:4px;
}
._2620OegyTDYrED-It1hqZ7 {
 margin-top:8px;
 display:flex;
 flex-flow:row;
}
._1Julhp97VoNhohGoXUQi3e {
 margin-left:13px;
}
.isDesktop ._1Wo4fI-FOk84PrnblD6-zu {
 margin-top:20px;
 margin-bottom:7px;
}
.isDesktop ._3DB1wYyU6xJ5NQ8ggxM5Z {
 margin-right:4px;
 margin-bottom:8px;
}
.isDesktop .ZeV1FPi3TlMKSgz-ntycC {
 display:flex;
 flex-flow:row;
 justify-content:space-between;
}
.br6UbiDdof9-vG7idF9wk {
 width:calc(100% + 30px);
 margin-left:-15px;
}
.isDesktop .br6UbiDdof9-vG7idF9wk {
 width:100%;
 margin-left:0;
 border:2px solid #000;
 box-shadow:0 2px 0 0 rgba(0,0,0,0.5);
}
._3LU2UZAtINOvVbIYSu4s5i {
 margin-top:12px;
}
._5BkX-UU0hCxSfkCMX1SWW {
 margin-top:24px;
}
._2YYavll12ci93MCz6aMHMv {
 margin-top:25px;
}
.isDesktop ._2pxer5sTW5tm_NGrzwMvfo,
.isDesktop ._2YYavll12ci93MCz6aMHMv,
.isDesktop ._5BkX-UU0hCxSfkCMX1SWW {
 margin-top:32px;
}
._2pxer5sTW5tm_NGrzwMvfo {
 margin-top:24px;
 display:flex;
 justify-content:center;
 align-items:center;
}
._1kyziN4lkY-yNlRuSH7gsQ {
 margin-top:30px;
}
._3ryTaSBXYoGHDAwhlkSVyh {
 margin-top:22px;
}
.isDesktop ._3ryTaSBXYoGHDAwhlkSVyh {
 margin-top:32px;
}
._1WcgIMQLXx7DHn09FyXAwj {
 line-height:1.23;
 margin:32px 0 12px;
 text-align:center;
}
.isDesktop ._1WcgIMQLXx7DHn09FyXAwj {
 line-height:1.4;
 margin:12px 0;
}
._3kY-HbUanF8puO-LkDGyBS {
 height:184px;
 position:relative;
 background:#0D65C8;
 overflow:hidden;
}
.isDesktop ._3kY-HbUanF8puO-LkDGyBS {
 height:244px;
}
._1FtUYbpLOuXLpbcVwc_VRr {
 position:absolute;
 bottom:0;
 left:0;
 width:100%;
 height:33%;
 background:#498DD8;
 z-index:0;
}
._3sNzSrrtjKNF0rDrDRhISq {
 display:flex;
 justify-content:center;
}
._1fEFUkCVUOGA8CD0Y3NEFp {
 position:absolute;
 height:190px;
 z-index:1;
 bottom:-37px;
}
.isDesktop ._1fEFUkCVUOGA8CD0Y3NEFp {
 position:absolute;
 height:188px;
 z-index:1;
 top:21px;
}
._2g-y7uLVhYNi0QnAqFRCG0 {
 line-height:1.17;
 letter-spacing:0.4px;
 margin-top:8px;
 padding:0 12px;
 text-shadow:0 2px 0 #000;
}
.isDesktop ._2g-y7uLVhYNi0QnAqFRCG0 {
 text-shadow:none;
}
.GdF35Tdwt070US3sFoK2J {
 background-image:linear-gradient(180deg,#380424,#380424 50%,#5C0034 0,#5C0034);
 height:30px;
 transform:skew(-7.5deg);
 width:38%;
 box-shadow:0 2px 0 0 #000,0 1px 0 0 #000;
 border:2px solid #000;
 position:absolute;
 z-index:2;
 bottom:12px;
 right:12px;
}
.isDesktop .GdF35Tdwt070US3sFoK2J {
 top:15px;
 right:20px;
 width:17%;
}
.I6Ezg6VkNXt0wugWcm2OR {
 height:30px;
 position:absolute;
 left:0;
 top:0;
 bottom:0;
}
._30hbuqLMCtRhEyFnOgShbi {
 background:#5CD6FF;
}
.YKBzc-58hZ-dLvUFXAzZg {
 background:#FABC3B;
}
._88O3v4xxtg0RORs1RYbqh {
 position:absolute;
 display:flex;
 justify-content:center;
 align-items:center;
 width:36px;
 height:36px;
 left:-17px;
 top:-3px;
 right:0;
 z-index:1;
 transform:skew(7.5deg);
}
._1uEdAmRKL0BgTQBZEJHxt9 {
 width:36px;
 height:36px;
}
.isDesktop ._1uEdAmRKL0BgTQBZEJHxt9 {
 width:40px;
 height:40px;
 position:relative;
 top:1px;
}
._1KJaf-wRJAWG6lBHkyVmX7 {
 position:absolute;
}
._1TCa5ra5K1nFAKCAe4qr0S {
 width:36px;
 height:36px;
 left:-17px;
 top:-2px;
 z-index:1;
}
._1j-tIzpdwf5PbBWzoiTS-F,
._1TCa5ra5K1nFAKCAe4qr0S {
 transform:skew(7.5deg);
 position:absolute;
 right:0;
 display:flex;
 justify-content:center;
 align-items:center;
}
._1j-tIzpdwf5PbBWzoiTS-F {
 left:0;
 top:0;
 bottom:0;
}
.isDesktop ._2iT27fbzyrBwwABHr9_Klz {
 width:147px;
 height:27px;
 background-color:#3E81C8;
 border-radius:147px/27px;
 position:absolute;
 bottom:25px;
 z-index:0;
}
._281yFZwf42cAoE-KjFehFP {
 padding-bottom:48px;
}
.isDesktop ._281yFZwf42cAoE-KjFehFP {
 padding-bottom:64px;
}
.isDesktop ._3-KBlJJvCDEhJGw2ZURVbv {
 margin-top:0;
}
._3b_VA3Aoq0x8KtxCcReRER {
 margin-top:0;
 margin-bottom:3px;
}
.isDesktop ._3b_VA3Aoq0x8KtxCcReRER {
 margin-top:-44px;
 position:relative;
 top:1px;
}
._2k5l1aiyfACcArxDxyMHxO {
 display:flex;
 flex-direction:column;
 margin-top:8px;
}
.isDesktop ._2k5l1aiyfACcArxDxyMHxO {
 flex-direction:row;
 justify-content:space-between;
 margin-top:20px;
}
._23BRLRnRHgE1swpQTd6knO {
 margin-bottom:4px;
}
.isDesktop ._23BRLRnRHgE1swpQTd6knO {
 width:49%;
}
._23BRLRnRHgE1swpQTd6knO:last-child {
 margin-bottom:0;
}
._1GrzPPQSHQY7p3yFCFKbPc,
._2bpuVc5jilKjdKhCfzwlUF {
 margin-top:24px;
}
.isDesktop ._2bpuVc5jilKjdKhCfzwlUF {
 margin-top:37px;
}
._2fmRRMnqVnci2xI44qcKhN {
 display:none;
}
._3-xBMo-uNAYsDExqggsmDo {
 width:30px;
 height:30px;
 position:relative;
 top:2px;
}
.isDesktop ._3-xBMo-uNAYsDExqggsmDo {
 width:32px;
 height:32px;
 top:2px;
}
._2NN928ynWFu3dbFHx8kXPh {
 width:34px;
 height:34px;
 position:relative;
 left:-3px;
 top:1px;
}
.isDesktop ._2NN928ynWFu3dbFHx8kXPh {
 width:36px;
 height:36px;
}
.FD6IVmg1rU1b6oKbZk0jx {
 display:flex;
 flex-direction:row;
 align-items:center;
 justify-content:center;
 position:relative;
 height:44px;
 margin-right:22px;
 margin-left:22px;
}
.jWUgf3XbWOIEw0tX2PeOc {
 position:absolute;
 right:0;
 top:13px;
 bottom:10px;
 line-height:1;
}
._1kufhspqsSw3_eLO5Ym3BQ {
 height:72px;
 background:#134B8A;
 display:flex;
 flex-flow:row;
 align-items:center;
 padding:8px 12px;
 box-sizing:border-box;
}
._1jQz75blQ4zBd7OLnBJxj6 {
 margin-bottom:4px;
}
._1AJB1VfKUniwishmh4Uf9r {
 display:flex;
 flex-flow:row;
 align-items:center;
}
._1AJB1VfKUniwishmh4Uf9r,
.mJJf1Q66aVS5KMt1TL4kt {
 width:250px;
}
._3nvWHCKMTylwrhGAULVuTV {
 width:64px;
 height:64px;
 margin-right:10px;
}
._2oxfm4amEhpH3YMMmRzUgn {
 text-align:center;
 flex-grow:1;
 text-shadow:0 2px 0 #000;
 text-transform:uppercase;
 letter-spacing:normal;
}
.mJJf1Q66aVS5KMt1TL4kt {
 display:flex;
 flex-flow:row;
 align-items:center;
 justify-content:flex-end;
}
._3rPnQSeAPYpb2sckxMIDdT {
 width:36px;
 height:36px;
 margin-left:2px;
}
._2NAa6vTY2vNeXxVvwcKaBH {
 background:rgba(0,0,0,0.2);
 padding:0 12px;
}
._1rZr88JO54J2-LjI3KT9B0,
._2NAa6vTY2vNeXxVvwcKaBH {
 height:28px;
 display:flex;
 align-items:center;
 justify-content:space-between;
}
._1rZr88JO54J2-LjI3KT9B0 {
 flex-flow:row;
 padding:0 12px 4px;
 background:#1A3866;
 box-sizing:border-box;
}
.IZPprxFuDL_3n6QPFt19p {
 display:flex;
 flex-flow:row;
 align-items:center;
}
._3V1mLdYIzofalleWMA4_xr {
 width:24px;
 height:24px;
 margin-left:3px;
 margin-top:1px;
}
._3LLJODlkwI4kGC2UoTTL-Y {
 background:rgba(0,0,0,0.2);
 display:flex;
 flex-flow:row;
 align-items:center;
 padding:4px 0 4px 6px;
}
._1DzYQ0ZozrmyGAsrROZKCG {
 width:48px;
 height:48px;
 margin-right:8px;
}
._3yAS-HvlRGJ-ZxYAvqfHz6 {
 margin-bottom:4px;
}
._3Wkxh2TZqb4V-Izx5rSvAK {
 width:80px;
 text-decoration:none;
 display:flex;
 flex-flow:column;
}
._1SdVC-kcTW12BRzS5BG3dw {
 order:2;
}
._1nmPFR79bpZOVNTJpPVOmG {
 order:0;
}
._3LmLKlWkx7IrcYWCJx_FrM {
 width:76px;
 height:76px;
 margin:0 2px;
 overflow:hidden;
 display:flex;
 justify-content:center;
 align-items:center;
 position:relative;
 order:1;
}
._1JCovHV1fYCBL0XCmYpMPu {
 width:84px;
 height:84px;
 max-width:none;
}
._2jfiaVd3ywVu8bfpx_AzDQ,
.nfLWlaBUDbAdoDAE-yJMn {
 position:absolute;
}
._2jfiaVd3ywVu8bfpx_AzDQ {
 left:0;
 top:0;
 transform:skewX(-15deg);
 justify-content:flex-end;
 padding-right:6px;
}
._2jfiaVd3ywVu8bfpx_AzDQ,
.nfLWlaBUDbAdoDAE-yJMn {
 width:40px;
 position:absolute;
 height:18px;
 display:flex;
 flex-flow:row;
 align-items:center;
 padding-bottom:2px;
 background:#081933;
}
.nfLWlaBUDbAdoDAE-yJMn {
 right:0;
 bottom:0;
 transform:skewX(15deg);
 justify-content:flex-start;
 padding-left:10px;
}
._1mKRhH91FiJeViiub8xk-m {
 margin-left:4px;
}
._1mKRhH91FiJeViiub8xk-m,
.J-vLl1SWiBxjQoNOmiIx5 {
 text-transform:uppercase;
 transform:skewX(-15deg);
}
._3quzXzbsGx8v5Wed--kC8_ {
 position:absolute;
 top:0;
 left:0;
 right:0;
 bottom:0;
 border:2px solid #000;
 z-index:1;
}
._1lCPJW-SgLJKCEAnUaZNNq {
 width:18px;
 height:18px;
 transform:skewX(15deg);
 margin-top:1px;
}
._2qLEuS3lPIOyIo3eIzSDLy {
 transform:skewX(15deg);
}
._2A4R_Igr4NEIjpJb1SDbJJ {
 text-align:center;
 white-space:nowrap;
 text-overflow:ellipsis;
 max-width:100%;
 box-sizing:border-box;
 overflow:hidden;
 height:20px;
 display:flex;
 flex-flow:row;
 align-items:center;
 justify-content:center;
 margin-left:2px;
 margin-right:2px;
}
._2Z75TqR3VQ-hAkHuA1OXT8 {
 position:absolute;
 top:0;
 left:0;
 right:0;
 bottom:0;
 border:2px solid #5CD6FF;
 z-index:1;
}
.OaG8xuLubNSjIE7WkjvmW {
 width:12px;
 height:12px;
 margin-right:3px;
 margin-top:1px;
}
._1MpLnFBrbl8nsSPDlZ6D4 {
 background-color:#EF7527;
}
.isDesktop ._3Wkxh2TZqb4V-Izx5rSvAK {
 width:104px;
}
.isDesktop ._3LmLKlWkx7IrcYWCJx_FrM {
 width:100px;
 height:100px;
}
.isDesktop ._1JCovHV1fYCBL0XCmYpMPu {
 width:108px;
 height:108px;
}
._1t6YjYrnRvlEIBno-ao42R {
 padding:12px 12px 0;
}
._2gVixi9wWIxfc15aee7lA2 {
 display:flex;
 flex-flow:row wrap;
 width:calc(100% + 14px);
 justify-content:center;
}
.P-LxMDlZB7PDv5J2MS_El {
 margin-right:12px;
 margin-bottom:12px;
}
.isDesktop ._2gVixi9wWIxfc15aee7lA2 {
 padding:26px 54px 0;
 width:calc(100% + 54px);
 box-sizing:border-box;
}
.isDesktop .P-LxMDlZB7PDv5J2MS_El {
 width:104px;
 margin-right:50px;
 margin-bottom:36px;
}
._3NDV5WQJECOZB5BNhfR0mA {
 display:flex;
 flex-flow:row;
 align-items:center;
 width:100%;
}
.U3SJvrTGGThXY6Gd2dwIj {
 flex-grow:1;
 height:1px;
 background-color:#A0D5FF;
}
._2J0ZNLgVIgTZJ5xgGwNJT3 {
 padding-left:8px;
 padding-right:8px;
}
._1iV6YEGw2QYWWWltMbr_zO {
 display:flex;
 flex-flow:column;
}
._28IsSegffvq3htBpj5cksY {
 width:80px;
 height:66px;
}
._1NuHeHNwA5h6UGj_33nz3x {
 padding:12px 12px 4px;
}
.YCctqCO7mzBiZOkhzYAPX {
 display:flex;
 flex-flow:row wrap;
 justify-content:center;
}
._2i0jtm9pnDV9248o_KUlWe {
 margin-top:8px;
}
._3Pdw9kuQWIS1ModQmwawtg {
 width:6px;
}
._3itn03Ieuvdo0Gi26D3LFe {
 display:flex;
 flex-flow:row;
 align-items:center;
 margin-bottom:8px;
}
@media (min-width:360px) {
 ._3Pdw9kuQWIS1ModQmwawtg {
  width:16px;
 }
}
.isDesktop ._1NuHeHNwA5h6UGj_33nz3x {
 display:flex;
 flex-flow:row;
 align-items:center;
 padding:20px 22px 26px;
}
.isDesktop ._2i0jtm9pnDV9248o_KUlWe {
 margin-top:0;
}
.isDesktop ._22x_-Q0XrAsll-QQ2Y8aio {
 flex-grow:1;
 display:flex;
 flex-flow:row;
 justify-content:center;
}
.isDesktop ._3itn03Ieuvdo0Gi26D3LFe {
 margin-bottom:0;
}
._2xy9pkDN_ioTHYabR1iaca {
 display:flex;
 flex-direction:column;
 width:88px;
 align-items:center;
 padding:4px 0;
 background:rgba(0,0,0,0.2);
}
._2y2ZNay6rpVOF7rQSUPnD {
 background-color:transparent;
 width:94px;
}
._189Af5aWcZ5E6ri_KiDPyz:first-child {
 margin-bottom:4px;
}
.isDesktop ._2xy9pkDN_ioTHYabR1iaca {
 background-color:transparent;
 width:104px;
}
._1imqLVCM0yCYa_HDAghZdN {
 display:flex;
 flex-flow:row wrap;
 justify-content:center;
 padding:8px 8px 0;
}
.isDesktop ._1imqLVCM0yCYa_HDAghZdN {
 justify-content:center;
 padding-left:54px;
 padding-right:54px;
}
.xbZbdht_pQiEciXlzLZk0 {
 margin-bottom:8px;
}
.isDesktop .xbZbdht_pQiEciXlzLZk0 {
 width:104px;
 margin-right:50px;
}
.isDesktop .xbZbdht_pQiEciXlzLZk0:last-child {
 margin-right:0;
}
._1TdGzX-ocPwEsVjwQhkkoF {
 padding:12px 12px 4px;
}
._1TdGzX-ocPwEsVjwQhkkoF,
._3YW4zAf3Si7NKpPrsRUWg7 {
 display:flex;
 flex-flow:row;
 justify-content:center;
}
._1pooze7J2Kss_p9184I2fC {
 width:6px;
}
._2N9PTTgENyOYrEIMtgPFZ_ {
 display:flex;
 flex-flow:row;
 align-items:center;
 margin-bottom:8px;
}
@media (min-width:360px) {
 ._1pooze7J2Kss_p9184I2fC {
  width:16px;
 }
}
.isDesktop ._1TdGzX-ocPwEsVjwQhkkoF {
 display:flex;
 flex-flow:row;
 align-items:center;
 padding:20px 22px 26px;
}
.isDesktop ._1pooze7J2Kss_p9184I2fC {
 width:48px;
}
.isDesktop ._2N9PTTgENyOYrEIMtgPFZ_ {
 margin-bottom:0;
}
.Zm-ak9q7wzkJG0xi8_BbE {
 box-shadow:0 2px 0 0 #000;
 border:2px solid #081933;
 background-color:#0E5FB0;
}
._1KGj-7dN4x4NLCV2quTUK9 {
 display:flex;
 justify-content:space-between;
 flex-flow:row wrap;
}
._1_tiIu0dGaCVBAQlUrqw6h {
 margin-bottom:16px;
 display:flex;
 flex-flow:column;
}
._1tToQij7tTVaygYy6MqlBd {
 text-shadow:0 2px 0 #000;
}
._2r-nHFk3o-4h1NaRnjemwT {
 margin-top:12px;
 width:calc(100% + 2px);
 display:flex;
 flex-direction:row;
 flex-wrap:wrap;
}
.EC6vdoOHtZDsOHBdoH8pR {
 margin-right:2px;
 margin-bottom:2px;
}
.isDesktop ._1KGj-7dN4x4NLCV2quTUK9 {
 order:2;
 margin:8px 0 0;
}
.isDesktop ._1tToQij7tTVaygYy6MqlBd {
 text-shadow:0 1px 0 #000;
}
.isDesktop ._2r-nHFk3o-4h1NaRnjemwT {
 width:calc(100% + 8px);
}
.isDesktop .EC6vdoOHtZDsOHBdoH8pR {
 margin-right:8px;
 margin-bottom:8px;
}
.CivRN2IuREbXujc7Bi0Dl {
 text-transform:uppercase;
 margin-bottom:10px;
}
._2mcwu0MiSMqq_HNKZWJaRv {
 text-decoration:none;
}
.isDesktop ._2mcwu0MiSMqq_HNKZWJaRv {
 margin-top:-40px;
}
._3YkJCVEltsRkYo5jP4vO4h {
 margin-bottom:8px;
}
.epRv0o-W_juFB-io8hhQ3 {
 margin-bottom:12px;
}
.isDesktop .epRv0o-W_juFB-io8hhQ3 {
 margin-bottom:40px;
}
.isDesktop ._3a6616yIpQyrpsUYvrpB5l {
 margin-top:0;
}
.isDesktop ._3f8kWr74o4NOz4rZ8CUV0A {
 margin-top:40px;
 margin-bottom:40px;
}
._3f8kWr74o4NOz4rZ8CUV0A {
 display:flex;
 flex-direction:row;
 margin:15px 0;
}
._1_AEUyWiIcgGyQ1Pk8WwYS {
 flex:1;
}
._1T4sgLJrAcHdoYNHAi7jJr {
 margin-top:25px;
 margin-bottom:40px;
}
.isDesktop ._1T4sgLJrAcHdoYNHAi7jJr {
 margin-top:40px;
}
.fHe7XgGjsyajfEQhqTW98 {
 max-width:calc(100vw - 30px);
}
